
bin/Debug/addin-db-002/addin-data/1/MonoDevelop.ChangeLogAddIn,5.7.1.maddin

*.maddin

*.data

bin/Debug/addin-db-002/fdb-lock

bin/Debug/BinObjCleaner.dll

bin/Debug/BinObjCleaner.dll.mdb

bin/Debug/addin-db-002/fdb-update-lock

bin/Debug/addin-db-002/host-index

bin/Debug/addin-db-002/hosts/XamarinStudio.addins
